 
* {
    box-sizing:border-box;
}

body{
    background-color: #161b22;
    font-family: 'font-midnights';
}

.navbar{
     background-color: #21262d;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: top;
     gap: 2rem;
     padding: 20px 60px;
     margin-bottom: 20px; 
     height:20px;
}

.nav-list{
    color: white;
    display:flex;
    gap:70px;
    width: 60%;
    align-items: center;
    padding:5px;
  }
  
  .nav-item{
    color:#161b22;
    padding-left: 5px;
  }

  .random{
    color:#80a1e4d9;
  }


  .nav-list2{
    color: white;
    display:flex;
    gap:70px;
    width: 60%;
    align-items: center;
    padding:5px;
  }
  
  .nav-item2{
    color:#ffffff;
    padding-left: 5px;
    
  }
  
  a:link, a:visited {
    background-color: rgba(71,70,70,0);
    color: #282c34;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    padding: 0px;
  
  }
  
  a:hover, a:active {
    background-color: rgba(186, 181, 181, 0.632);
  }
  
  .logo{
    width: 20px;
    height: 20px;
    size: 20px 20px;
    font-size: 20px 20px;
    display: flex;
  }


  .RepoLink {

    align-items: center;

  }

  .GitHubImg {
    align-items: top;
    place-content: top;
  }

  .github-img{
    align-items: top;
    place-content: top;
  }

  .container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content:center;
    height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RepoLink {
  margin-bottom: 20px;
}

.LinkForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #afc7f46c;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three equal-width columns */
  gap: 30px; /* Spacing between grid items */
  margin-left: 30px;
  margin-bottom: 30px; 
}

.grid-item {
  /* Optionally, you can add styling for each grid item */
}


.grid-container_similarity {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px; /* Gap between columns */
}

.grid-item_similarity {
  padding: 20px;
  border: 1px solid white; /* Add border to each grid item if needed */
}

.linkInput{
  --borderWidth: 2;
  --buttonColor: #c6cdd5;
  --bg: hsl(0, 0%, 5%);
  --backdrop: transparent;
  --fontSize: 1;
  --horizontalPadding: 400px;
  --verticalPadding: 8;
  background: var(--backdrop);
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  border-radius: 10px;
  text-align: center;
  line-height: 24px;
  color: var(--textColor, var(--buttonColor));
  cursor: pointer;
  font-size: calc(var(--fontSize) * 1rem);
  font-weight: bold;
  font-family: sans-serif;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: relative;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  transition: transform 0.2s;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
}

.dir-control {
  --borderWidth: 2;
  --buttonColor: #c6cdd5;
  --bg: hsl(0, 0%, 5%);
  --backdrop: #4893fc57;
  --fontSize: 1;
  --horizontalPadding: 16;
  --verticalPadding: 8;
  background: var(--backdrop);
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  border-radius: 10px;
  text-align: center;
  line-height: 24px;
  color: var(--textColor, var(--buttonColor));
  cursor: pointer;
  font-size: calc(var(--fontSize) * 1rem);
  font-weight: bold;
  font-family: sans-serif;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: relative;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  transition: transform 0.2s;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
}

.dir-control:hover {
  --y: -5;
  --scale: 1.05;
}

.dir-control:active {
  --y: 0;
  --scale: 0.95;
}


.generalInfo{
  margin: auto;
  border-collapse:separate  ;
  background-color:#a3b5da45;
  border-width: 3px;
  border-color: #282c34;
  font-family: 'Midnights';
  border-style: hidden;
}

.tableHead{
  font-family: 'Midnights';
  color:#010a1c;
  background-color:#2f6ce729;
  border-color: #282c34;
  align-items: center;
  border-style: hidden;
  border-collapse:separate  ;
  
}

.tableColumns{
  border-color: #838b9c;
  border-style: hidden;
  border-collapse:separate  ;

}

.tableCells{
border-style: hidden;
align-items: center;
text-align-last: center;
text-align: center;
color: #c7d9fc;
border-collapse:separate  ;
}

.tableHeadCells{
  font-family: 'Midnights';
  color:#010a1c;
  background-color:#2f6ce729;
  border-color: #282c34;
  align-items: center;
  border-style: hidden;
  border-collapse:separate  ;
}

.simMatrix{
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  max-width: fit-content ;
  margin:auto;
  margin-top: 5px;
  margin-bottom: 100px;
}

.blackk{
  background-color: #0d1117;
}

.darkgrayy{
  background-color: #161b22;
}

.grayy{
  background-color: #21262d;
}

.lightgrayy{
  background-color: #89929b;
}

.darkwhite{
  background-color: #c6cdd5;
}

.white{
  background-color: #ecf2f8;
}

.redish{
  background-color: #fa7970;
}

.orangish{
  background-color: #faa356;
}

.greenish{
  background-color: #7ce38b;
}

.lightblues{
  background-color: #a2d2fb;
}

.bluee{
  background-color: #77bdfb;
}

.purpleish{
  background-color: #cea5fb;
}

.themeblue{
  background-color:#4894fc;

}