 
* {
    box-sizing:border-box;
}

body{
    background-color: #282c34;
}

.navbar{
     background-color: #61dafb;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: top;
     gap: 2rem;
     padding: 20px 60px;
     margin-bottom: 20px; 
}

.nav-list{
    color: white;
    display:flex;
    gap:70px;
    width: 60%;
    align-items: center;
    padding:5px;
  }
  
  .nav-item{
    color:#282c34;
    padding-left: 5px;
  }
  
  a:link, a:visited {
    background-color: rgba(71,70,70,0);
    color: #282c34;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    padding: 0px;
  
  }
  
  a:hover, a:active {
    background-color: rgba(186, 181, 181, 0.632);
  }
  
  .logo{
    width: auto;
    height: auto;
    size: 20px 20px;
    font-size: 20px 20px;
    display: flex;
  }


  .RepoLink {

    align-items: center;

  }

  .GitHubImg {
    align-items: center;
    place-content: center;
  }

  .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RepoLink {
  margin-bottom: 20px;
}

.LinkForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three equal-width columns */
  gap: 30px; /* Spacing between grid items */
  margin-left: 30px;
  margin-bottom: 30px; 
}

.grid-item {
  /* Optionally, you can add styling for each grid item */
}


.grid-container_similarity {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px; /* Gap between columns */
}

.grid-item_similarity {
  padding: 20px;
  border: 1px solid white; /* Add border to each grid item if needed */
}
